/*body {
  background-color: black;
}*/

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: midnightblue;
  color: white;
  height:  800px;
  border: 5px dotted limegreen;
}



header {
  background-image: url("https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif");
  align-self: stretch;
  border: 4px solid orange;
  height: 200px;

}

nav {
  display: inline-flex;
  border: 4px solid teal;
}

section {
  align-self: stretch;
  background-color: purple;
  border: 4px solid white;
  height: 20%;


}

#idea-tab {
  background-color: orange;
  text-align: center;
  width: 50%;
}

textarea {
 background-color: pink;
 width:50%;
 height: 40px;
}

blockquote {
  background-color: black;
}

footer {
  margin-top: 80px;
  align-self: stretch;
  justify-content: flex-end;
  border: 4px solid limegreen;
}

/*.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes igenio-logo {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
